// Madhus and Madhus - Print Mall - Scss Document
//mixins
@mixin abs {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}
@mixin absnrm {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}
@mixin default_docset {
    h1 {
        font-size: 350%;
        font-weight: 700;
        color: #F26D13;
        -webkit-text-stroke: 1px #000;

        &.big {
            font-size: 420%;
        }
    }

    h2 {
        font-size: 320%;
        font-weight: 700;
        color: #F26D13;
        -webkit-text-stroke: 0.5px #000;
    }

    h3 {
        font-size: 260%;
        font-weight: 600;
        color: #F26D13;
        -webkit-text-stroke: 0.5px #000;
    }

    h1,
    h2,
    h3 {
        letter-spacing: 1px;

        &.basestyle1 {
            font-size: 300%;
            font-weight: 700;
            color: #333;
            -webkit-text-stroke: 0px #000;
            display: block;
            background-color: #cccccc;
            padding: 5px;
            margin-top: 15px;
        }
    }

    h1,
    h2 {
        margin-bottom: 12px;
    }

    h3,
    h4 {
        margin-bottom: 6px;
    }

    h5,
    h6 {
        margin-bottom: 0px;
    }

    p,
    ul,
    ol {
        font-family: 'Karla', sans-serif;
        font-size: 170%;
        color: #575250;
        font-weight: 400;
        margin: 0px;

        + p,
        + ul,
        + ol {
            margin-top: 12px;
        }

        + h2,
        + h3,
        + h4,
        + h5,
        + h6 {
            margin-top: 18px;
        }
    }

    ul {
        margin-left: 30px;

        + ul {
            margin-left: 30px;
        }
    }

    li {
        font-size: 100%;
        list-style: disc;

        + li {
            margin-top: 6px;
        }
    }

    label {
        font-size: 170%;
        display: block;
        width: 100%;

        .form-control {
            font-size: 88.235%;
            display: block;
            width: 100%;
            margin-top: 6px;
        }
        * {
            font-size: 100%;
        }
    }

    form {
        padding: 10px 5px;
        user-select: none;
        button {
            font-size: 170%;
            color: #ffffff;
            background-color: #FF7A3D;
            text-align: center;
            border: 0px outset #FF7A3D;
            text-decoration: none;
            display: inline-block;
            border-radius: 50px;
            padding: 12px 15px 12px 15px;
            line-height: normal;
            margin: auto;
            outline: none;

            &:focus,
            &:hover {
                background-color: #FF6823;
            }

            &:active {
                box-shadow: inset 0px 0px 6px 5px #f94f06;
            }
        }
        &.needs-validation{
            &.was-validated{
                .valid-feedback, .invalid-feedback{
                    font-size: 126%;
                }
            }
        }
    }
}

@mixin activepress($obj) {
    &:active{
        background-color: $obj;
        box-shadow: inset 1px 1px 2px 1px rgba(0,0,0,0.3);
    }
}

@mixin linkhovers($ob1, $ob2){
    outline: none;
    text-decoration: none;
    transition: color 0.7s ease;
    &:hover, &:focus{
        color: $ob1;
    }
    &:focus{
        transition: none;
    }
    &:active{
        color: $ob2;
        transition: none;
    }
}

//fonts
@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("aos-anim.css");
@import url("swiper-bundle.min.css");
@import url('fontawesome.css'); 
@import url('printmall-icons.css');

:root {
    --pmscrsz: 0.52082vw;
    --pmscrszn: -0.52082vw;
	--vscreenht: 75vh;
}

//body 
body {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
	.swiper{
		font-size: 10px;
	}
    
    * {
        padding: 0px;
        margin: 0px;
        list-style: none;

        &:active {
            transition: none;
        }
    }

    img {
        max-width: 100%;
        height: auto;
    }

    a {
        &.btn_1 {
            color: #ffffff;
            background-color: #FF7A3D;
            text-align: center;
            border-color: #FF7A3D;
            text-decoration: none;
            display: inline-block;
            border-radius: 50px;
            padding-top: 12px;
            padding-right: 20px;
            padding-bottom: 12px;
            padding-left: 15px;
            line-height: normal;
            margin: auto;

            [class*="fa-"] {
                padding: 0px 6px;
                transition: all 0.3s linear;
            }

            &:focus,
            &:hover {
                color: #ffffff;
                text-decoration: none;

                [class*="fa-"] {
                    transform: scale(1.1);
                }
            }

            &:active {
                color: #ffffff;
                box-shadow: inset 0px 0px 6px 5px #f94f06;

                [class*="fa-"] {
                    transition: none;
                    transform: scale(1.05);
                }
            }
        }
    }
    
    .Crete{
        font-family: 'Crete Round', serif!important;
    }
    .lightBG{
        background-image: url("../images/lightBG1.jpg");
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;
    }
    p {
        margin-bottom: 1em;

        a {
            color: #c73f00;
            outline: none;

            &:hover,
            &:focus {
                color: #FF580B;
                text-decoration: underline;
            }

            &:active {
                color: #E84900;
                text-decoration: none;
            }
        }
    }

    .print-mall_pgmargin {
        width: 100%;
        overflow: hidden;
        position: relative;
        z-index: 0;
    }
    .container{
        max-width: 90%;
    }
    //header
    header{
        border-bottom: 1px solid #FF6633;
        .container{
            padding: 0px;
            column-gap: 10vw;
        }
        .navbar{
            padding: 0px;
            .hdrbtn{
                display: none;
                width: 100%;
                position: relative;
                height: 0px;
            }
            .navbar-brand{
                padding: 34px 0px;
                margin: 0px;
                img{
                    max-width: 24vw;
                    height: auto;
                }
            }
            .top-navbar{
				font-size: 0.732067vw;
                margin: 0px 0px 30px;
                text-align: right;
                a{
                    font-size: 180%;
                    font-weight: 500;
                    color: #000000;
                    text-decoration: none;
                    margin: 0px 12px;
                    @include linkhovers(#FF6633, #E53800);
                }
            }
        }
        .navbar-nav{
            width: 100%;
            .nav-item{
                font-size: 1.458333vw;
//                font-size: 280%;
                font-weight: 700;
                text-transform: capitalize;
                color: #000000;
                text-decoration: none;
                a.nav-link{
                    color: #000000;
                    text-decoration: none;
					&:active{
//						box-shadow: inset 1px 1px 3px 1px #a3a3a3;
					}
                    &:after{
                        display: none;
                    }
                    .dropdown-toggle{
                        
                    }
                }
                .dropdown-menu{
                    font-size: 80%;
                    border-radius: 0px;
                    border: 1px solid #FF6633;
                    padding: 0px;
                    margin: 0px;
					min-width: 16vw;
                    .dropdown-item{
                        &:hover, &:focus{
                            color: #ffffff;
                            background-color: #FF6633;
                        }
                        @include activepress(#FF6633);
                    }
                }
            }
        }
        @media (max-width: 991px){
            .container{
                column-gap: 0px;
            }
            .navbar{
                padding: 0px;
                .hdrbtn{
                    display: block;
                    .navbar-toggler{
						font-weight: bold;
                        position: absolute;
                        right: 0px;
                        bottom: 100%;
                        z-index: 1;
                        border-radius: 0px;
                        line-height: 8px;
                        padding: 8px;
                        @include linkhovers(#FF6633, #E53800);
                        outline: none;
                        &.collapsed{
                            .navbar-toggler-icon{
                                transform: rotate(0deg);
                            }
                        }
                        .navbar-toggler-icon{
                            transform: rotate(-90deg);
                        }
                    }
                }
                .navbar-brand{
					margin: 0px auto;
                    img{
                        max-width: 398px;
                    }
                }
                .top-navbar{
					font-size: 100%; 
                    text-align: center;
                    margin: 0px;
                }
            }
            .navbar-nav{
                width: 100%;
                .nav-item{
                    font-size: 280%;
					.dropdown-menu{
						&.show{
							display: flex;
							flex-wrap: wrap;
							justify-content: space-between;
							.dropdown-item{
								width: auto;
								flex: 1 1 auto;
								border: 1px solid rgba(255, 102, 51, 0.2);
								@media (max-width: 424px){
									width: 100%;
									border: none;
								}
							}
						}
					}
                }
            }
        }
        @media (max-width: 576px){
            .navbar{
                padding: 0px;
                .navbar-brand{
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
    main{
		opacity: 0;
		transition: none;
		section{
			position: relative;
			z-index: 0;
		}
		&.show{
			opacity: 1;
			transition: opacity 0.7s linear;
		}
        #print_mall{
            position: relative;
            min-height: var(--vscreenht);
            overflow: hidden;
            .print_mall{
                padding-bottom: 56.25%;
                @include abs; 
                video{
                    @include absnrm; 
					height: 100%;
                    z-index: 1;
                }
                &:before{
                    content: "";
                    background-color: rgba(140,24,34,0.8);
                    display: block;
                    @include abs;
                    z-index: 2;
                }
                .print_mall_text{
                    position: relative;
                    min-height: var(--vscreenht);
                    z-index: 3;
                    h1, h2, h3{
                        color: #ffffff;
                        font-weight: 900;
                        text-transform: uppercase;
                    }
                    h1{
						font-family: 'Crete Round', serif;
                        font-size: 560%;
                    }
                    h2, h3{
                        font-size: 360%;
                    }
                }
            }
        }
		#print_mall_products{
			background-image: url('../images/BG1.png'); 
			background-size: cover; 
			background-position: top center; 
			background-attachment: fixed; 
			padding: 60px 0px; 
			h1{
				font-size: 250%;
				font-weight: 700;
				color: rebeccapurple;
			}
		}
		#print_mall_services{
			padding: 60px 0px;
			background-color: #D8B08C;
			h2{
				font-size: 200%;
				font-weight: 500;
				color: #8f0000;
				text-transform: uppercase;
				+ p{
					margin-top: 12px;
				}
			}
			p{
				font-size: 180%;
				font-weight: 400;
				line-height: normal;
				&.big{
					font-size: 350%;
					font-weight: 900;
				}
			}
			.service-photo{
				padding: 6px;
				.service-caption{
					font-size: 70%;
					text-transform: uppercase;
					letter-spacing: 3px;
					background: #dfbda0;
					color: #000000;
					text-align: center;
				}
			}
		}
		#print_mall_subscribers{
			padding: 60px 0px;
			background-color: #262626;
			color: #ffffff;
			text-align: center;
			h2{
				font-size: 350%;
				font-weight: 900;
				margin-bottom: 12px;
			}
			p{
				font-size: 180%;
				margin-bottom: 6px;
			}
			form{
				font-size: 180%;
				margin: 12px 0px 0px;
				.btn{
					color: #fff;
					background-color: #242673;
					border-color: #1D1F5E;
				}
				@media (max-width: 767px){
					input{
						width: 100%;
						border-bottom-left-radius: 0px;
						border-bottom-right-radius: 0px;
					}
					.btn{
						width: 100%;
						border-top-left-radius: 0px;
						border-top-right-radius: 0px;
					}
				}
				@media (min-width: 768px){
					input{
						width: 100%;
						max-width: 350px;
						border-bottom-right-radius: 0px;
						border-top-right-radius: 0px;
					}
					.btn{
						border-bottom-left-radius: 0px;
						border-top-left-radius: 0px;
					}
				}
			}
		}
        #print_mall_prices{
			color: #ffffff;
            background-color: #262626;
            padding: 60px 0px 100px;
            user-select: none;
            h1{
                font-size: 350%;
                text-align: center;
                margin-bottom: 24px;
            }
            form{
                h2{
                    font-size: 250%;
                }
                label{
                    font-size: 140%;
                    margin: 12px 0px 6px;
                }
                #materials_type{
                    position: relative;
                    .fa-refresh{
                        font-size: 200%;
                        display: none;
                    }
                    &.spinner{
                        transition: all 1s linear;
                        &:before{
                            content:" ";
                            background-color: #ffffff;
                            position: absolute;
                            left: 2px;
                            top: 2px;
                            right: 2px;
                            bottom: 2px;
                            z-index: 1; 
                        }
                        .fa-refresh{
                            color: #b1b1b1; 
                            display: inline-block;
                            position: absolute;
                            top: 9px;
                            left: 13px;
                            z-index: 2;
                        }
                    }
                }
                .btn-group{
                    width: 100%;
                    button{
                        &.btn{
                            width: 100%;
                            font-size: 280%;
                            margin-top: 12px;
                            &.btn-primary{
                                
                            }
                            &.btn-warning{
                                
                            }
                        }
                    }
                }
                p{
                    font-size: 160%; 
                    &.calculus{
                        font-size: 210%;
                        text-align: center;
                        background: #dfeddd;
                        color: #000000;
                        padding: 2px 12px;
                        margin: 12px 0px 0px;
                        line-height: 1.5;
                        border: 3px solid #c2dcbc;
                        user-select: none;
                        #total{
							font-size: 150%;
							font-weight: bold;
                            background-color: rgb(255, 255, 255);
                            border: 1px solid #e0eddd;
                            padding: 0px 12px;
                            user-select: none;
                            outline: none;
                            cursor: default;
                            @media (max-width: 1489px){
                                width: 100%;
                                text-align: center;
                            }
                        }
                    }
                    &.note{
                        color: #dd6969;
                        margin: 12px 0px 0px;
                        text-align: left;
                        text-transform: uppercase;
                    }
                }
                .input-group{
                    flex-wrap: nowrap;
                    input{
						border-bottom-right-radius: 0px;
						border-top-right-radius: 0px;
					}
                    .input-group-append{
                        select{
                            border-bottom-left-radius: 0px;
						    border-top-left-radius: 0px;
                        }
                    }
                }
                .form-group{
                    min-width: 100px;
                    width: 100%;
                    .form-control{
						font-size: 150%;
						font-weight: bold;
                        width: 100%;
                    }
                }
            }
        }
        .product-photo{
            text-align: center;
            padding: 25px;
            img{
                max-height: 320px;
                width: auto;
            }
        }
        //gallery
        #print_mall_gallery{
            padding: 60px 0px;
            h2{
                font-size: 366%;
                text-align: center;
                margin-bottom: 24px;
            }
            #gallery1 {
                padding: 12px;
                user-select: none;
                a.print_mall_gallery2 { 
                    display: block;
                    max-width: 25%;
                    &:hover, &:focus, &:active{
                        outline: none;
                    }
                    span {
                        display: block;
                        margin: 12px;
                        border: 1px solid #fa5f31;
                        overflow: hidden;
                        position: relative;
                        border-radius: 15px;

                        img {
                            transform: scale(1.1);
                            transition: transform 0.3s linear;
                        }

                        .caption {
                            font-size: 120%;
                            color: #ffffff;
                            text-transform: capitalize;
                            background-color: #262626;
                            position: absolute;
                            display: block;
                            border: none;
                            height: auto;
                            width: 100%;
                            bottom: 0px;
                            margin: 0px;
                            text-align: center;
                        }
                    }

                    &:hover,
                    &:focus {
                        span {
                            img {
                                transform: scale(1.2);
                            }
                        }
                    }

                    &:active {
                        span {
                            img {
                                transform: scale(1.15);
                                transition: none;
                            }
                        }
                    }

                    @media (max-width: 1440px) {
                        max-width: 33.3333%;
                    }

                    @media (max-width: 767px) {
                        max-width: 50%;
                    }
                    
                    @media (max-width: 567px) {
                        max-width: 100%;
                    }
                }
            }
        }
        
        //section header
        #print_mall_secnhdr1{
            background-color: #590202; 
            background-image: url("../images/hdbg1.jpg");
            background-attachment: fixed;
            background-position: center center;
            background-size: cover;
            padding: 45px 0px;
            h1{
                font-size: 550%;
                color: #F2F2F2;
                text-align: center;
            }
        }
    }
    //footer
    footer{
        font-size: 6px;
        padding-bottom: 60px;
        .container{
            position: relative;
            padding: 0px;
        }
        .print_mall_hdr_ft{
            background-color: #ffff99;
            border: 1px inset #ffffff;
            .print_mall_ft_im1{
                display: block;
                padding-right: 18px;
                max-width: 620px;
                margin: 0px 0px 0px;
                img{
                    margin-top: -6px;
                }
            }
        }
        [class*="print_mall_ft_"]{
            margin-top: 12px;
            h3{
                font-size: 290%;
                font-weight: bold;
                margin-bottom: 12px;
                a{
                    color: #000000;
                    margin-right: 24px;
                    margin-bottom: 6px;
                }
            }
            a{
                color: #000000;
                display: inline-block;
                @include linkhovers(#FF6633, #E53800);
            }
            p{
                font-size: 270%;
                font-weight: normal;
                margin: 0px;
                + p{
                    margin-top: 6px;
                }
            }
        }
        .print_mall_ft_1{
            p{
                display: flex;
                align-items: flex-start;
                .printmall_Icons_location{
                    font-size: 270%;
                    margin-right: 6px;
                    @media (max-width: 576px){
                        font-size: 163%;
                    }
                }
                a{
                    color: #000000;
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    [class*="printmall_Icons_"]{
                        margin-right: 6px;
                    }
                    .printmall_Icons_call{
                        margin-right: 0px;
                    }
                }
                &.phone{
                    font-size: 320%;
                    font-weight: 900;
                    flex-wrap: wrap;
                }
            }
        }
        .print_mall_ft_3{
            h3{
                margin-bottom: 6px;
            }
        }
        address{
            margin-bottom: 6px;
        }
    }
    
    //Gallery region
    #gallery_region1 {
        background-color: rgba(38,38,38,0.86);
        display: none;
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 1;
        user-select: none;

        .swiper {
            height: 100%;
        }

        .swiper-slide {
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;

            &.swiper-slide-zoomed {
                .madhus_slide {
                    overflow: visible;
                }
            }

            .madhus_slide {
                display: inline-block;
                position: relative;
                overflow: hidden;
                z-index: 0;

                img {
                    max-height: 75vh;
                    width: auto;
                }

                .swiper-caption {
                    font-size: 240%;
                    line-height: normal;
                    color: #ffffff;
                    text-transform: capitalize;
                    background-color: #262626;
                    display: block;
                    text-align: center;
                    padding: 9px;
                    position: absolute;
                    bottom: 0px;
                }

                [style*="translate3d"] {
                    .swiper-caption {
                        display: none;
                    }
                }

                [style*="translate3d(0px, 0px, 0px)"] {
                    img {
                        //						transform: scale(1.1)!important;
                    }

                    .swiper-caption {
                        display: block;
                    }
                }
            }
        }

        [class*="swiper-button-"] {
            z-index: 1;
        }

        .swiper-button-next:after,
        .swiper-button-prev:after {
            font-size: 240%;
            font-weight: bold;
            color: #ffffff;
        }

        .btn-group1 {
            display: inline-block;
            width: auto;
            height: auto;
            padding: 15px;
            position: fixed;
            right: 0px;
            top: 0px;
            z-index: 2;

            button {
                &.btn {
                    background: none;
                    color: #ffffff;
                    font-size: 200%;
                    display: block;
                    text-align: center;
                    width: 42px;
                    height: 42px;
                    padding: 0px;
                    margin: 6px;
                    border-radius: 100%;
                    outline: none;
                    box-shadow: none;

                    [class*="eicon-"] {
                        display: inline-block;
                    }

                    &:hover,
                    &:focus {
                        background-color: orangered;
                    }

                    &:active {
                        box-shadow: inset 3px 3px 3px 0px #D33900;
                    }
                }
            }
        }

        .swiper-pagination {
            font-size: 150%;
            font-weight: normal;
            color: #ffffff;
            position: fixed;
            left: 0px;
            top: 0px;
            display: inline-block;
            width: auto;
            height: 42px;
            padding: 12px;
        }

        .swiper-scrollbar {
            display: none;
        }

        @media(min-width: 991px) {

            .swiper-button-prev,
            .swiper-rtl .swiper-button-next {
                left: 10vw
            }

            .swiper-button-next,
            .swiper-rtl .swiper-button-prev {
                right: 10vw;
            }

        }
    }
    
    //body responsive font size
    @media (max-width: 991px) {
        font-size: 8px;
        .swiper{
            font-size: 8px;
        }
        footer{
            font-size: 5px;
            padding-bottom: 80px;
        }
    }

    @media (max-width: 319px) {
        font-size: 6px;
        .swiper{
            font-size: 6px;
        }
        footer{
            font-size: 4px;
            padding-bottom: 80px;
        }
    }
}
