$icomoon-font-family: "printmall" !default;
$icomoon-font-path: "fonts" !default;

$printmall_Icons_call: "\e900";
$printmall_Icons_Cart: "\e901";
$printmall_Icons_email: "\e902";
$printmall_Icons_location: "\e903";
$printmall_Icons_phone: "\e904";
$printmall_Icons_user: "\e905";

